<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ resume_data.name }} - My Resume</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&display=swap">
    <style>
        /* 초기에는 숨겨진 상태 */
        .hidden {
            display: none;
        }
        /* 프로젝트 제목에 커서를 포인터로 변경하여 클릭 가능하게 함 */
        .project-title {
            cursor: pointer;
            color: blue; /* 링크처럼 파란색으로 표시 */
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="left-section">
            <h1>{{ resume_data.name }}</h1>
            <p>{{ resume_data.information }}</p>
        </div>
    </div>
    <h3>Education</h3>
    <ul>
        {% for education in resume_data.education %}
            <li>
                {{ education.position }}, {{ education.company }}
                <span class="right-align">{{ education.year }}</span>
            </li>
        {% endfor %}
    </ul>

    <h3>Project</h3>
    <ul>
        {% for project in resume_data.project %}
            <li>
                <!-- 클릭 시 toggleProject 함수 호출 -->
                <span class="project-title" onclick="toggleProject('{{ project.title }}')">
                    {{ project.title }}, {{ project.company }} ({{ project.year }})
                </span>
                <!-- 프로젝트 내용 -->
                <div id="{{ project.title }}" class="hidden">
                    {{ project.description }}
                </div>
            </li>
        {% endfor %}
    </ul>

    <div class="right-section">
        <h3>Skills</h3>
        <ul class="skills">
            {% for skill in resume_data.skills %}
                <li>{{ skill }}</li>
            {% endfor %}
        </ul>
    </div>

    <script>
        function toggleProject(projectTitle) {
            var projectContent = document.getElementById(projectTitle);
            // classList.toggle은 클래스를 추가하거나 제거합니다.
            projectContent.classList.toggle('hidden');
        }
    </script>
</body>
</html>
